@import "tailwindcss";

/* 🔹 Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* 🔹 Custom scrollbar hide */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
